<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row graph-row">
      <div class="mdl-layout-spacer" style="width:100%;">
        <div class="graph-title">
          {{ paper.title }}
        </div>
      </div>
      <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable -->
      <!--             mdl-textfield--floating-label mdl-textfield--align-right"> -->
      <!--   <label class="mdl-button mdl-js-button mdl-button--icon" -->
      <!--          for="fixed-header-drawer-exp"> -->
      <!--     <i class="material-icons">search</i> -->
      <!--   </label> -->
      <!--   <div class="mdl-textfield__expandable-holder"> -->
      <!--     <input class="mdl-textfield__input" type="text" name="sample" -->
      <!--            id="fixed-header-drawer-exp"> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>
  </header>
  <div class="mdl-layout__drawer graph-sidebar">
    <span class="mdl-layout-title top-left-logo" style="padding-left:15px; padding-top: 5px;" onclick="window.location='/'">citegraph</span>
    <nav class="mdl-navigation" style="padding-top:0px;">

      <div class="graph-sidebar-content">

<!--         <ul>
        <li ng-repeat="filter in filters">{{ filter }}</li>
      </ul> -->

      <div ng-hide="loading">

      <h5> Title: </h5>
      {{paper.title}}
      <h5> Authors: </h5>
      <span ng-repeat="author in paper.authors">{{ author }}{{$last ? '' : ', '}}</span>
      <h5> Topics: </h5>
      <span ng-repeat="topic in paper.topics">{{ keywords[topic] }}{{$last ? '' : ', '}}</span>
      <h5> Filter Neighbors by Topic: </h5>

      <div class="checkbox" ng-repeat="topic in filters" on-finish-render>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" class="mdl-checkbox__input" ng-model="topic.value" ng-change="updateNodes(topic)">
          <span class="mdl-checkbox__label">{{ keywords[topic.id] }}</span>
        </label>

      </div>
<!--       <div ng-show="paper.conference">
        <h5> Conference: </h5>
        <span>{{ paper.conference }}</span>
      </div> -->
      <h5> Links: </h5>
      <ol>
        <li ng-repeat="link in paper.links"><a href="{{ link }}" target="_blank">{{ truncateLink(link) }}</a></li>
      </ol>
      <div ng-show="allNeighbors">
        <h5> Neighbors: </h5>
        <div id="neighbor-container">
          <ol>
            <li ng-repeat="neighbor in allNeighbors"><a href="/graph/{{ neighbor._id }}">{{ neighbor.t }}</a></li>
          </ol>
        </div>
      </div>

      </div> <!-- end div-loading hide  -->

      <div/> <!-- end graph-sidebar -->
    </nav>
  </div>
  <main class="mdl-layout__content graph-content" style="height: calc(100% - 64px);">
    <div class="page-content" style="height:100%;">
      <div ng-show="loading" style="margin:100px auto 0px auto; width:500px;">
        <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
      </div>
      <div class="col-md-9 graph-graph" id="graph">
        <canvas id="viewport"></canvas>
      </div>

    </div>
  </main>
</div>
