<div class="container container-full">
  <div class="row row-full">
    <div class="col-md-3" id="sidebar">
<!--         <ul>
        <li ng-repeat="filter in filters">{{ filter }}</li>
      </ul> -->
      <h3> {{ paper.title }} </h3>
      <h5> Authors: </h5>
      <span ng-repeat="author in paper.authors">{{ author }}{{$last ? '' : ', '}}</span>
      <h5> Filter by Topic: </h5>
      <!-- <span ng-repeat="topic in paper.topics">{{ topic }}{{$last ? '' : ', '}}</span> -->
      <div class="checkbox" ng-repeat="topic in filters">
        <label><input type="checkbox" value="" ng-model="topic.value">{{ keywords[topic.id] }}</label>
      </div>
      <div ng-show="paper.conference">
        <h5> Conference: </h5>
        <span>{{ paper.conference }}</span>
      </div>
      <h5> Links: </h5>
      <ol>
        <li ng-repeat="link in paper.links"><a href="{{ link }}" target="_blank">{{ getDomain(link) }}</a></li>
      </ol>
      <div ng-show="paper.neighborsF">
        <h3> Neighbors </h3>
        <div id="neighbor-container">
          <ol>
            <li ng-repeat="neighbor in paper.neighborsF">{{ neighbor.t }}</li>
            <li ng-repeat="neighbor in paper.neighborsB">{{ neighbor.t }}</li>
          </ol>
        </div>
      </div>

<!--         <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Option one is this and that&mdash;be sure to include why it's great
          Topics
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Option two is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Option three is this and that&mdash;be sure to include why it's great
        </label>
      </div> -->
    </div>
    <div class="col-md-9" id="graph">
<!--         <div class="direction">
        <h2>Cited By</h2>
      </div> -->
      <canvas id="viewport" width="900" height="600"></canvas>
<!--         <div class="direction>">
        <h2>Papers Cited</h2>
      </div> -->
    </div>
  </div>
  <!-- search bar here -->
</div>
