<div class="container">

  <nav class="">
    <div class="container-fluid results-container">

      <div class="top-bar-elem top-left-logo" onclick="window.location='/'">citegraph</div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="top-bar-elem">
        <form class="form-inline">
          <div class="form-group-sm mdl-textfield mdl-js-textfield search-bar">
            <input type="text" ng-model="query" class="mdl-textfield__input form-control search-box" placeholder="Enter query here">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored search-button" ng-click="search(query)">Search</button>
          </div>
        </form>  
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>

  <div class="results">

    <div class="stats">
      <div class="col-md-12" ng-show="numResults>0">{{ numResults }} results, showing {{index + 1}}-{{Math.min(index+10,numResults)}}</div>
      <div class="col-md-12" ng-show="numResults==0">No results</div>
      <div class="col-md-12" ng-show="numResults==-1">Loading...</div>
    </div>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-12 results">
        <ul class="mdl-list">
          <li class="mdl-list__item result-item" ng-repeat="result in currentResults"><a href="/graph/{{ result._id }}">{{ result.t }}</a></li>
        </ul>
      </div>
      <!-- <div class="col-md-1"></div> -->
    </div>
  </div> <!-- end results -->

  <div class="results-bottom-bar" ng-show="numResults>0">
      <div><a href="#" class="prev" ng-class="{disabled:index<=0};" ng-click="prev()">Previous</a></div>
      <div><a href="#" class="next" ng-class="{disbaled:index+10>=numResults};" ng-click="next()">Next</a></div>    
  </div>

</div> <!-- end container -->
