<div class="container">

  <div class="row">
    <div class="col-md-12" style="height: 225px"></div>
  </div>
  <div class="row" ng-hide="showResults">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 id="logo" class="text-center" style="font-weight:100">citegraph</h1>
      <form class="form-inline">
        <div class="form-group-lg mdl-textfield mdl-js-textfield">
          <input type="text" ng-model="query" class="mdl-textfield__input input-lg search search-box" placeholder="Enter query here" id="search">
          <label class="mdl-textfield__label" for="search">Search</label>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored search-button" ng-click="search(query)" ng-disabled="!query">Search</button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>

</div> <!-- end container -->

<footer class="footer">
  <div class="container" style="margin-left:20px">
    <p class="text-muted">&copy Malina Jiang, Evan Lin, Colin Man, Alfred Xue, Spencer Yee</p>
  </div>
</footer>
