html, body {
	width: auto !important;
	min-width: 1000px;
	height: 100%;
	overflow: hidden;
}

ol {
	padding: 15px;
}

#background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.6;
}

#logo {
	margin-bottom: 20px;
}

.form-group-sm {
	width: 75%;
}

.form-group-lg {
	width: 100%;
	/*height: 50px;*/
}

.form-control.search {
	width: calc(100% - 144px);
	/*height: 100%;*/
}

.results {
	background: white;
}

.results ul {
	padding: 0;
}

.results ul li {
	list-style-type: none;
	padding: 0;
	font-size: 20px;
	margin: 15px 0 15px 0;
}

.form-group button {
	/*height: 100%;*/
}

/*.row-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}*/

.container-full {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.row-full {
	height: 100%;
}

#sidebar {
	background-color: #f5f5f5;
	height: 100%;
}

#neighbor-container {
	height: 350px;
	overflow: auto;
}

#graph {
	height: 100%;
	padding: 0;
}

#viewport {
	width: 100%;
	/*height: 100%;*/
/*	width: 800;
	height: 600;*/
/*	position: fixed;
	bottom: 0px;*/
	/*height: 100%;*/
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*width: 800px;*/
}

.direction {
	height: 100px;
}

.direction h2 {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  padding-top: 15px;
}

.search-box {
  float: left;
  margin-right:15px;
  font-family:Roboto;
}

.search-button {
  float: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
