html, body {
	width: auto !important;
	min-width: 1000px;
	height: 100%;
	/* overflow: hidden; */
}

ol {
	padding: 0 20px 0 20px;
}

#background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.6;
}

#logo {
	margin-bottom: 20px;
}

.form-group-sm {
	/* width: 75%; */
}

.form-group-lg {
	width: 100%;
	/*height: 50px;*/
}

.form-control.search {
	width: calc(100% - 144px);
	/*height: 100%;*/
}

.results {
	background: white;
}

.results ul {
	padding: 0;
}

.results ul li {
	list-style-type: none;
	padding: 0;
	font-size: 20px;
	margin: 15px 0 15px 0;
}

.form-group button {
	/*height: 100%;*/
}

/*.row-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}*/

.container-full {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.row-full {
	height: 100%;
}

#sidebar {
	background-color: #f5f5f5;
	height: 100%;
	padding-left: 30px;
	overflow: auto;
}

#neighbor-container {
/*	height: 350px;
	overflow: auto;*/
}

#graph {
	height: 100%;
	padding: 0;
}

#viewport {
	width: 100%;
	/*height: 100%;*/
/*	width: 800;
	height: 600;*/
/*	position: fixed;
	bottom: 0px;*/
	/*height: 100%;*/
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*width: 800px;*/
}

.direction {
	height: 100px;
}

.direction h2 {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  padding-top: 15px;
}

.search-box {
  float: left;
  margin-right:15px;
  font-family:Roboto;
}

.search-button {
  float: left;
}

.container {
    width:100%;
    padding-left:0px;
    padding-right:0px;
}

.top-bar-elem {
    position: relative;
    top: 0%;
    transform: translateY(23%);
    padding: 0px;
}

.top-bar-elem .search-bar {
    padding: 0px;
    margin-left: 15px;
    float: right;
    width: 360px;
}

.top-bar-elem .search-box {
    width: 250px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 200;
}

.top-bar-elem .search-button {
    bottom: -3px;
    float: right;
}

.top-left-logo {
    font-weight:100;
    font-size:36px;
    font-weight: 100;
    font-size: 36px;
    float: left;
    cursor: pointer;
}

.results-container {
    height: 55px;
    margin-top: 20px;
}

.results .stats {
    padding-left: 6px;
    display: block;
    width: 100%;
    height: 58px;
    padding-top: 19px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 200;
    background-color: #ECECEC;
}

.results a {
    color: #636363;
    text-decoration: none;
    padding:20px 0px 20px 18px;
    margin: 0px;
    display:block;
    height: 65px;
    vertical-align: middle;
    width: 100%;
    font-weight: 300;
}

.results a:hover {
    background-color: #F2F8FF;
}

.results .result-item {
    padding: 0px;
    margin: 0px;
}

.results-bottom-bar {
    bottom: 0px;
    height: 50px;
    padding-left: 17px;
    width: 100%;
    background-color: #ECECEC;
}

.results-bottom-bar a {
    font-family: Roboto;
    font-weight: 300;
    margin-top: 16px;
    color: #656565;
}

.results-bottom-bar a.disabled {
    color: darkgray;
    pointer-events: none;
}

.results-bottom-bar .prev {
    float:left;
    font-size: 18px;
}

.results-bottom-bar .next {
    float:right;
    font-size: 18px;
    margin-top: 16px;
    margin-right: 30px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
